<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style = "color: red; background-color: black";>Hello World</h1>
    <p>Welcome to my first webapp</p>
    <p>Click <a href = 'https://youtube.com/'> here </a>to go to youtube</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjMbJWGY-e0ETmzblJiXHmkihWga4OfQXGAA&s" alt="">
</body>
</html>